.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.todo-main-bg{
  background-color: white;
  width: 320px;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.todo-main-bg hr{
  margin-left: 16px;
  margin-right: 16px;
  border: 0.7px solid rgb(200, 209, 228);
}

.todo-item{
  color: #282c34;
  margin: 10px;
  border-radius: 5px;
  width: 290px;
  display: inline-flex;
  padding-left: 10px;
  background-color: white;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  transition: ease-in 100ms;
  align-items: center;
}

.todo-item:hover{
  color: white;
  background-color: #282c34d2;
}

.todo-item input{
  margin-left: auto;
  margin-right: 15px;
  /* right: 0; */
}

